* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2, 2, 2);
}

#header {
    position: fixed;
    top: 0;
    background-color: rgb(173, 80, 80);
    width: 100%;
    height: 60px;
}

.cp_cont {
    height: 45px;
}

.cp_offcm01 {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
}

.cp_offcm01 .cp_menu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 250px;
    height: 100%;
    transition: 0.53s transform;
    transition-timing-function: cubic-bezier(.38, .52, .23, .99);
    background-color: #ffffffee;
    opacity: 0.93;
}

.cp_offcm01 .cp_menu ul {
    margin: 0;
    padding: 0;
}

.cp_offcm01 .cp_menu li {
    list-style: none;
}

.cp_offcm01 .cp_menu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #482F13;
    border-bottom: 1px solid #a03a3a;
    /* フォント変更１０・15 */
    font-family: 'M PLUS 1p', sans-serif;
}

.cp_offcm01 #cp_toggle01 {
    position: absolute;
    display: none;
    opacity: 0;
}

.cp_offcm01 #cp_toggle01:checked~.cp_menu {
    transform: translateX(-100vw);
}

/* トグルメニュー */
/* メニューの色を変えてます。岡島 */
.cp_offcm01 #cp_toggle01~label {
    display: block;
    padding: 0 5px 5px 5px;
    cursor: pointer;
    transition: 0.5s transform;
    transition-timing-function: cubic-bezier(.61, -0.38, .37, 1.27);
    text-align: center;
    columns: #de0011;
    ;
}

.cp_offcm01 #cp_toggle01:checked~label {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
}

/* コンテンツ */
.cp_contents {
    color: #de0011;
    padding-left: 10px;
    text-align: center;
}

/* 10/14追加・ロゴマーク 岡島 */
.cp_contents img {
    max-width: 50%;
    margin: 0 auto;

}

/*チェックボックス等は非表示に*/
.nav-unshown {
    display: none;
}

/*アイコンのスペース*/
#nav-open {
    width: 30px;
    height: 22px;
    vertical-align: middle;
    margin-bottom: 10px;
}

/*ハンバーガーアイコン*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
    position: absolute;
    height: 3px;
    /*線の太さ*/
    width: 25px;
    /*長さ*/
    border-radius: 3px;
    background: rgb(255, 255, 255);
    display: block;
    content: '';
    cursor: pointer;
    font-family: serif;
}

#nav-open span:before {
    bottom: -8px;
}

#nav-open span:after {
    bottom: -16px;
}


/* --------------------------------------- */

.main_text {
    color: white;
    text-align: center;
    line-height: 1.2em;
}

.title_logo {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.418);
}



.test {
    font-weight: bold;
}

.fadeInDown {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}


/* --------------------------------------- */

.text_box {
    width: 50%;
    margin: 0 auto;
}

.kaiyo_text {
    color: white;
    line-height: 1.2em;
}

/* --------------------------------------- */
.pc_1 {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.733);
}

.pc_2 {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.733);
}

/* --------------------------------------- */

.chara {
    color: white;
    line-height: 1.2em;
    margin: 0 1.5em;
}

/* --------------------------------------- */
.end {
    color: white;
    line-height: 1.5em;
    text-align: center;
    font-size: 15px;
}

.day {
    color: white;
    line-height: 1.5em;
    text-align: center;
    font-size: 27px;
    /* font-family: 'ＭＳ 明朝'; */
    font-family: 'HGP行書体';

}

/* ------------------------------------------ */
